/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(62, 20, 20, 0.4)), to(rgba(62, 20, 20, 0.4))), url(cover-image.jpg);
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(cover-image.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.game-area {
    width: 75%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #e6e0e0;
    -webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* ----------------------------------------------- */
/* SETUP STAGE*/
/* ----------------------------------------------- */

.setup-stage {
    display: block;
    padding: 10px;
    text-align: center;
}

.add__description {
    width: 200px;
    text-align: center;
    border: 1px solid #000000;
    background-color: #fff;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    -webkit-transition: border 0.3s, background-color 0.3s;
    transition: border 0.3s, background-color 0.3s;
}

.add__description:focus {
    outline: none;
    border: 1px solid #EB4D4D;
    background-color: #fef5f5;
}

button {
    width: 200px;
    color: #555;
    background: none;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    -webkit-transition: margin 0.3s;
    transition: margin 0.3s;
}

/* ----------------------------------------------- */
/* Paragraphs*/
/* ----------------------------------------------- */

.intro {
    padding: 30px;
    letter-spacing: 0.5px;
}

.warning {
    padding: 10px;
    color: #EB4D4D;
    font-weight: 400;
    
}

/* ----------------------------------------------- */
/* Table design*/
/* ----------------------------------------------- */

.content-table {
    display:inline-block;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    -webkit-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.65);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.65);
}

.content-table thead tr {
    background-color: #EB4D4D;
    color: #fff;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    text-align: left;
}

.content-table tbody tr {
    border-bottom: 1px solid #000;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #EB4D4D;
}

/* ----------------------------------------------- */
/* PLAY STAGE*/
/* ----------------------------------------------- */

.play-stage {
    display: none;
    padding: 10px;
    text-align: center;
}

.box {
    margin: 25px 0;
    overflow: hidden;
}

.dice {
    width: 80%;
    height: auto;
    -webkit-box-shadow: 5px 5px #888888;
    box-shadow: 5px 5px #888888;
}

.apply-shake {
    -webkit-animation: shake 0.45s cubic-bezier(.36,.07,.19,.97) both;
    animation: shake 0.45s cubic-bezier(.36,.07,.19,.97) both;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}

.status-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    -webkit-box-shadow: 1px 1px #888888;
    box-shadow: 1px 1px #888888;
    margin-top: 25px;
}

.status-title-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #222;
}

.status-digit-label {
    font-size: 30px;
}

/* ----------------------------------------------- */
/* END STAGE*/
/* ----------------------------------------------- */

.end-stage {
    display: none;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

.end-stage h2 {
    padding: 10px;
    text-transform: uppercase;
}

.statistics {
    background-color: #EB4D4D;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    padding: 12px;
    -webkit-box-shadow: 5px 5px #888888;
    box-shadow: 5px 5px #888888;
    margin-top: 25px;
    font-size: 27px;
    font-style: italic;
    margin-bottom: 20px;
}

.status-output {
    font-weight: bold;
    color: #000000;
    text-shadow: 0.5px 0.5px #888888;
    margin-top: 5px;
}